*, *::before, *::after {
    --color-primary: #00bfb3;
    --color-secondary: #ccc9e7;
    --color-detail: #f6e27f;
    --fontcolor-primary: #263d42;
    --fontcolor-secondary: #2f0601;
}

#root {
    color: var(--fontcolor-primary);
    overflow: hidden;
    height: 100vh;
}

#root button {
    cursor: pointer;
}